:root {

    /* Colors */
    --white: #FFF;
    --black: #000;
    --salmon: #FF8787;

}

html {
    font-size: 62.5%; /* 10px = 1rem */
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    background-color: var(--salmon);
}

h1,h2 {
    margin: 0;
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3rem;
}

/* Header */
.header {
    background-color: var(--white);
    height: 20rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main */
.main__text {
    font-size: 23px;
}

.main__text a {
    animation: animar .5s alternate infinite;
}

@keyframes animar {
    0% {
        font-size: 5rem;
        color: greenyellow;
    }
    100% {
        font-size: 3rem;
        color: aqua;
    }
}